@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: #323334;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    padding: 20px 0px;
}

.border__div {
    border-bottom: 1px solid black;
}

.logo__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo__icons>h3 {
    color: #323334;
    font-size: 25px;
}

.icons{
    position: relative;
}

.icons > p{
    position: absolute;
    top: 15px;
    right: 37px;
    background-color: #F2994A;
    padding: 0 5px;
    border-radius: 50%;
}

.logo__icons .icons i {
    margin-right: 10px;
}

.sec__border__div {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.nav__links {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 120px;
    justify-content: space-between;
    margin: 40px 0px;
}

.nav__links li>a {
    margin-right: 45px;
    color: #323334;
}

.checkout {
    margin: 40px 0px;
}

.checkout h2 {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.main__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0;
}

.left__side {
    width: 62%;
}

.product__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.product__item>figure {
    width: 20%;
}

.product__item>figure>img {
    width: 100%;
    height: 238px;
}

.product__content {
    width: 77%;

}

.title__icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.product__content>h3 {
    margin-bottom: 30px;
}

.product__desc {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.product__desc>p {
    width: 100%;
    line-height: 25px;
}

.product__desc>p>span {
    margin-left: 30px
}

.product__desc>p:first-of-type>span {
    margin-left: 14px;
}

.fav__select {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fav__select>i {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.select {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 26%;
    height: 40px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.size__list {
    width: 100%;
    height: 325px;
    border: 1px solid #323334;
    background-color: white;
    position: absolute;
    top: 460px;
    z-index: 999;
    display: none;
}

.size__list>i {
    padding: 20px;
    float: right;
}

.size__list>ul {
    padding: 30px;
    margin-top: 30px;
}

.size__list>ul>li {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
}

.size__list>ul>li:last-of-type {
    margin-bottom: 0px;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.actions>button:first-of-type {
    width: 47%;
    height: 50px;
    background-color: transparent;
    outline: 0;
    border: 1px solid #323334;
    cursor: pointer;
    font-weight: 600;
    color: #323334;
}

.actions>button:last-of-type {
    width: 47%;
    height: 50px;
    background-color: #323334;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

.total__line {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 62%;
}

.total__line>p:first-of-type,
.total__line>p:last-of-type {
    font-size: 20px;
    font-weight: 400;
}

.total__line>p:nth-of-type(2) {
    height: 1px;
    width: 100%;
    border: 1px solid #323334;
    margin: 10px 0px;
}

.right__side {
    width: 35%;
    background-color: rgba(236, 235, 233, 0.7);
}

.right__content {
    padding: 85px 35px;
}

.right__content>p {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.newsletter__input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.newsletter__input>input {
    width: 85%;
    height: 48px;
    padding: 15px 10px;
}

.newsletter__input>button {
    width: 15%;
    height: 48px;
    border: none;
    outline: 0;
    background-color: #323334;
    cursor: pointer;
}

.view__more__button {
    margin-bottom: 40px;
}

.view__more__button>button {
    width: 100%;
    height: 50px;
    background-color: white;
    outline: 0;
    border: none;
    cursor: pointer;
    color: #323334;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #323334;
}

.price__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price__titles>p,
.price__amount>p {
    font-size: 18px;
}

.price__titles>p:first-of-type {
    margin-bottom: 5px;
}

.price__titles>p:nth-last-of-type(2) {
    margin-bottom: 15px;
}

.price__amount>p:first-of-type {
    margin-bottom: 5px;
}

.price__amount>p:nth-last-of-type(2) {
    margin-bottom: 15px;
}

.price__amount {
    text-align: end;
}

.check__out__button {
    margin-top: 60px;
}

.check__out__button>button {
    width: 100%;
    height: 50px;
    background-color: #323334;
    outline: 0;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.similar__products {
    margin: 100px 0;
}

.similar__products>h2 {
    font-size: 24px;
    font-weight: lighter;
}

.similar__main {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.slide-container {
    padding-bottom: 75px !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: 40% !important;
}

.products__item {
    width: 24% !important;
}

.products__item>figure>img {
    width: 100%;
    height: 396px;
}

.card__content__text>h3 {
    margin-top: 20px;
}

.product__colors {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.product__colors>p {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.price__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.price__actions>p {
    font-size: 25px;
    font-weight: 600;
}

.simillar__actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.simillar__actions>button {
    padding: 12px 23px;
    background-color: transparent;
    outline: 0;
    border: 1px solid #323334;
    cursor: pointer;
    font-weight: 600;
    color: #323334;
    transition: 0.4s ease;
}

.simillar__actions>button:hover {
    background-color: #323334;
    color: white;
}

footer {
    background-color: #323334;
}

.right__div {
    width: 30%;
}

.main__footer__div>ul {
    width: 20%;
}

.left__div {
    width: 30%;
}

.main__footer__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}

.right__div>h3 {
    font-size: 38px;
    color: white;
    margin-bottom: 50px;
}

.right__div>p:first-of-type {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    font-weight: lighter;
}

.right__div>p:last-of-type {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
}

.address>p {
    color: white;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: lighter;
}

.social__icons {
    margin-top: 60px;
    display: flex;
    gap: 100px;
}

.main__footer__div>ul>h2 {
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}

.main__footer__div>ul>li {
    font-weight: lighter;
    font-size: 18px;
    color: #ffffff88;
    margin-bottom: 15px;
}

.left__div>h2 {
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}

.blog__content>h3 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    margin-bottom: 20px;
}

.blog__content>h3>span {
    font-size: 18px;
    margin-left: 5px;
}

.blog__content>p {
    line-height: 24px;
    color: #ffffff88;
    font-weight: lighter;
    font-size: 18px;
}

.blog__content>p:last-of-type {
    margin-top: 20px;
}

.footer__bottom__border {
    border-bottom: 1px solid #ffffff88;
    margin: 30px 0;
}

.copyrights {
    background-color: #222222;
    width: 100%;
    height: 50px;
}

.copyrights>p {
    color: #ffffff88;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
}

@media(max-width:1200px) {
    .nav__links li>a {
        margin-right: 27px;
    }

    .products__item>figure>img {
        height: 370px;
    }

    .product__item>figure {
        width: 30%;
    }

    .product__item>figure>img {
        height: 245px;
    }

    .product__content {
        width: 65%;
    }

    .product__desc {
        margin-bottom: 22px;
    }

    .product__content>h3 {
        margin-bottom: 17px;
    }

    .title__icon {
        margin-bottom: 12px;
    }

}

@media(max-width:992px) {
    .nav__links li>a {
        margin-right: 15px;
    }

    .select {
        width: 50%;
    }

    .product__item>figure {
        width: 36%;
    }

    .product__content {
        width: 60%;
    }

    .product__item>figure>img {
        height: 287px;
    }

    .products__item {
        width: 32% !important;
        margin-right: 13px;
    }

    .view__more__button>button {
        height: 47px;
        font-size: 18px;
    }

    .newsletter__input>input {
        width: 80%;
        height: 47px;
    }

    .newsletter__input>button {
        width: 20%;
        height: 47px;
    }

    .check__out__button>button {
        height: 47px;
        font-size: 15px;
    }
}

@media(max-width:768px) {
    .nav__links li {
        margin-bottom: 8px;
    }

    .nav__links li>a {
        margin-right: 47px;
    }

    .select {
        width: 65%;
    }

    .right__div {
        width: 50%;
        margin-bottom: 40px;
    }
}

@media(max-width:576px) {
    .nav__links {
        padding: 0px 15px;
    }

    .left__side {
        width: 100%;
    }

    .right__side {
        width: 100%;
        margin-top: 20px;
    }

    .right__div {
        width: 65%;
    }

    .main__footer__div>ul {
        width: 30%;
    }

    .left__div {
        width: 60%;
    }
}